<div class="about-section">
  <h2 class="center">The Philosophy of Simple Budgeting</h2>
  <h3>Simplify and Destress</h3>
  <div class="text-content">
    <p class="flow-text">SimplyBudget simplifies and destresses the habit of monthly budgeting.
      Rather than breaking finances down into minute categories, this app helps you track three
      main categories: your income, your flex expenses, and your firm expenses.
    </p>
    <div class="card-container">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Income</span>
          <p class="flow-text">
            Incoming money to your account.
            May include: paychecks, interest from investments, gifts.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <span class="card-title">Firm Expenses</span>
          <p class="flow-text">
            Stable expenses that have to be paid and which
            remain the same from month to month.
            This may include your rent
            or mortgage, your health insurance, your phone bill.
            Think of these as your 'automated expenses'.
          </p>
        </div>

      </div>
      <div class="card">
        <div class="card-content">
          <span class="card-title">Flex Expenses</span>
          <p class="flow-text">
            Fluid expenses that you have more control over,
            even if they are necessary purchases like groceries.
            This category encompasses any purchases that you make
            at a grocery store, restaurant, Target, or yard sale.
          </p>
        </div>
      </div>
    </div>
    <h3>Stay Flexible</h3>
    <p class="flow-text">
      By separating expenses into your steady monthly expenses and controllable monthly expenses, y
      ou can gain realistic insights on what your monthly budget should look like
      while still retaining the flexibility realistic to your ever-changing life.
      Welcome to more reasonable and stress-free budgeting!
    </p>
  </div>
</div>