<!-- dropdown structure -->
<ul id="dropdown1" class="dropdown-content">
  <li>
    <a href="/login">Log In</a>
  </li>
  <li>
    <a href="/signup">Sign Up</a>
  </li>
</ul>
<nav class="nonuser-nav">
  <div class="nav-wrapper">
    <h4 class="brand-logo">SimplyBudget</h4>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down desktop-nav-ul">
      <li>
        <a href="/about">About SimplyBudget</a>
      </li>
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons center">face</i></a>
      </li>
    </ul>

  </div>
</nav>

<!-- mobile nav links -->

<ul class="sidenav" id="mobile-demo">
  <li>
    <a href="/about">About SimplyBudget</a>
  </li>
  <li>
    <a href="/login">Log In</a>
  </li>
  <li>
    <a href="/signup">Sign Up</a>
  </li>
</ul>