<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About SimplyBudget</title>
  <%- include('partials/head.ejs')%>
</head>

<body>
  <%- include('partials/nonusernav.ejs') %>
  <div class="container">
    <h1>WHAT IS SIMPLYBUDGET?</h1>
    <p>SimplyBudget is an answer to the crowd of complicated budgeting
      apps that make the process of budgeting overwhelming and over-categorized.
      Rather than breaking finances down into minute categories, this app helps you track three
      main categories: Your Income, Your Flex Expenses, and Your Firm Expenses.
    </p>
    <ul>
      <li>
        Income : Any incoming money to your account,
        whether it be from a job or a gift
      </li>
      <li>
        Firm Expenses: Stable expenses that have to be paid and which
        remain the same from month to month. This may include your rent
        or mortgage, your health insurance, your phone bill.
        Think of it as your 'automated expenses' that you don't have much control over.
      </li>
      <li>
        Flex Expenses: Fluid expenses that you have more control over,
        even if they are necessary purchases like groceries.
        This category encompasses any purchases that make at a grocery store, restaurant, Target, or yard sale.
      </li>
    </ul>
    <p>
      By separating expenses into your steady monthly expenses and controllable monthly expenses, y
      ou can gain realistic insights on what your monthly budget should look like
      while still retaining the flexibility realistic to your ever-changing life.
      Welcome to more reasonable and stress-free budgeting!
    </p>
  </div>
  <%- include('partials/footer.ejs')%>
</body>

</html>