//COLORS

//blues
$light-blue: hsl(210, 56, 93);
$bright-dark-blue: hsl(211, 82, 40);
$darker-blue: hsl(202, 54, 32);

//neutrals
$chalkboard-black: hsl(219, 20, 22);
$whitesmoke: hsl(0, 0, 96);
$white: hsl(0,0,100);
$grey: hsl(150, 1, 77);