//FONT STACK

//font-families
$Poppins: ('Poppins', sans-serif);
$PT-Sans: ('PT Sans', sans-serif);
$PT-Serif: ('PT Serif', serif);

//font-weight:
$thin-weight: 300;
$normal-weight: 400;
$md-weight: 600;
$heavy-weight: 900;

//font-size: 

$mobile-sm-size: 3vw;
$mobile-md-size: 6vw;
$mobile-lg-size: 10vw;

$desktop-xs-size: 1vw;
$desktop-sm-size: 2vw;
$desktop-med-size: 4vw;
$desktop-lg-size: 7vw;

//letterspacing: 

$sm-spacing: .01vw;
$md-lg-spacing: .02vw;