//FONT STACK

//font-families
$Poppins: ('Poppins', sans-serif);
$PT-Sans: ('PT Sans', sans-serif);
$PT-Serif: ('PT Serif', serif);

//font-weight:
$thin-weight: 300;
$normal-weight: 400;
$md-weight: 600;
$heavy-weight: 900;

//font-size: 
$xs-size: .7rem;
$sm-size: 1rem;
$md-size: 2rem;
$lg-size: 3rem;


//letterspacing: 

$sm-spacing: .01vw;
$md-lg-spacing: .02vw;