//separate focus-within style for all forms but budget details
// messes up date-picker feature
.add-focus-to-form {

  &:focus-within {
    box-shadow: $focus-box-shadow;
    transform: scale(1.025);
  }
}

//Form Container for all other forms on site 
// class name: .box-form
.box-form {
  @include bp(xl) {
    margin-top: -15vh;
  }

  margin-top: -5vh;
  border-radius: $form-border-radius;
  padding: 30px 10px;
  box-shadow: $box-shadow;
  background-color: $white;
  color: $chalkboard-black;

  h4 {
    @include secondary-header-font;

    padding-bottom: 1.5vh;
    text-transform: uppercase;
    text-align: left;
    color: $bright-dark-blue;
  }

  .row {
    width: 95%;
    margin: $marginauto;


    input[type=text] {
      font-family: $PT-Serif;
    }

    // Inactive Default input field color
    .input-field input[type]:not([readonly]),
    .input-field textarea:not([readonly]) {
      border-bottom: 1px solid $light-blue;
      box-shadow: 0 1px 0 0 $grey;
    }

    // Active Default input field color 
    .input-field input[type]:focus:not([readonly]),
    .input-field textarea:focus:not([readonly]) {
      border-bottom: 1px solid $bright-dark-blue;
      box-shadow: 0 1px 0 0 $grey;
    }

    // Inactive/Active Default input label color
    .input-field input[type]:focus:not([readonly])+label,
    .input-field textarea:focus:not([readonly])+label {
      color: $darker-blue;
    }

    // Active/Inactive Valid input label color
    .input-field input[type].valid:focus+label,
    .input-field input[type].valid~.helper-text::after,
    .input-field input[type].valid:focus~.helper-text::after,
    .input-field textarea.valid:focus+label,
    .input-field textarea.valid~.helper-text::after,
    .input-field textarea.valid:focus~.helper-text::after {
      color: $bright-dark-blue;
    }

    .btn-small {
      background-color: $bright-dark-blue;
      display: block;
      margin: 0 auto 1vh auto;
    }

    p {
      @include paragraph-font;
      margin-top: 3vh;

      a {
        color: $chalkboard-black;
        text-decoration: underline;
        transition: all .3s;

        &:hover {
          text-decoration: none;
          cursor: pointer;
          color: $darker-blue;
        }
      }

    }
  }

}

//make new details header text hidden when form is larger
.new-detail-header {
  @include bp(xl) {
    visibility: hidden;
  }
}