//Header for Index Page
.index-header {
  background-color: $bright-dark-blue;
  width: 100%;
  padding: 5vh 0 10vh 0;

  h2 {
    @include secondary-header-font;
    width: 85%;
    margin: $margin0auto;
    color: $white;
    line-height: 2.5rem;
  }
}

//card section containing overview
.card-container {
  margin: -5vh auto 10vh auto;
  border-radius: $form-border-radius;
}

.card-content {
  max-height: 200px;

  h4 {
    @include secondary-header-font;
    color: $bright-dark-blue;
  }
}

//Index Page Responsiveness - Replace budget chart with table at > 620 px

.desktop-and-tablet-content {
  @include bp(budgetbp) {
    display: none;
  }
}

.mobile-budget-content {
  @include bp(budgetbp) {
    display: block;

    .view-chart-button {
      display: none;
    }
  }

  background-color: $white;
  box-shadow: $box-shadow;
  padding: 3vh 0 2vh 0;
  display: none;

  h4 {
    @include secondary-header-font;
    color: $bright-dark-blue;
    margin-left: 2rem;
  }

  p {
    @include paragraph-font;
    margin-left: 2rem;
  }

  a {
    font-size: $sm-size;
    color: $bright-dark-blue;

    &:hover {
      color: $peru-orange;
    }
  }

  table {
    margin-bottom: 3vh;
  }

  .view-chart-button {
    background-color: $bright-dark-blue;
    display: block;
    margin: 3vh auto 1vh auto;
  }

}



//chart - Budget Check In
// https://css-tricks.com/making-charts-with-css/

.budget-dl {
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 100%;
  margin: 0 auto;
  max-width: 1500px;
  box-shadow: $box-shadow;
  position: relative;
  padding: 40px 20px;
  box-sizing: border-box;
  overflow: hidden;

  dt {
    align-self: flex-start;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    text-align: left;
    color: $bright-dark-blue;



    h4 {
      @include secondary-header-font;
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
      @include paragraph-font;
      color: $peru-orange;
    }

  }

  .text,
  a {
    @include bp(xs) {
      font-size: .4rem;
    }

    @include paragraph-font;
    font-family: $PT-Sans;
    font-size: $sm-size;
    color: $darker-blue;
    display: flex;
    align-items: center;
    height: 40px;
    width: 130px;
    position: absolute;
    left: 20px;
    line-height: 1.2rem;
    ;
  }

  .percentage {
    font-size: .8em;
    line-height: 1;
    width: 70%;
    height: 50px;
    margin-left: 150px;
    margin-bottom: 2px;
    // background: repeating-linear-gradient(to right, $grey, $grey 1px, $whitesmoke 1px, $whitesmoke 1px);

    &:after {
      content: "";
      display: block;
      width: 1px;
      margin-bottom: 10px;
      height: 90%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color .3s ease;
      background-color: $darker-blue;

      cursor: pointer;
    }

    &:hover,
    &:focus {
      &:after {
        background-color: #aaa;
      }
    }
  }

  .percentage-income,
  .percentage-firmexpense,
  .percentage-flexexpense {
    &:after {
      border: 2px solid $darker-blue;
      background-color: transparentize($color: $darker-blue, $amount: .4);
    }
  }


  //generate a bunch of percentage classes: 
  @for $i from 1 through 150 {

    //i = our current spending or income is i% of our budget
    .percentage-#{$i} {
      &:after {
        $value: ($i * 1%);
        //if our value is 20, our width with be 20%...
        width: $value;
      }

    }
  }

  .view-table-button {
    background-color: $bright-dark-blue;
    display: block;
    margin: 3vh auto 1vh auto;
  }
}

//collection list with links to show pages
.collection {
  margin-top: 10vh;
  box-shadow: $box-shadow;

  h4 {
    @include secondary-header-font;
    color: $bright-dark-blue;
  }

  a {
    @include paragraph-font;
    color: $chalkboard-black;

    &:hover {
      color: $darker-blue;
    }
  }
}