//margin

$margin0auto: 0 auto;
$marginauto: auto;

$font-margin-top-left: 2vh 0 0 2vw;

//padding

$font-padding-vh: 1vh 0 3vh 0;

//border
$form-border-radius: 10px;
$button-border-radisu: 24px;

$box-shadow: 2px 2px 4px $grey;

//inside-sizing