//Header for Login and Register Page
.login-header {
  background-color: $bright-dark-blue;
  width: 100%;
  padding: 5vh 0 10vh 0;

  h2 {
    @include large-header-font;

    @include bp(xl) {
      visibility: hidden;
    }

    margin: $margin0auto;
    color: $white;
  }
}


//About Section
.about-section {
  margin-top: 100px;

  h2 {
    @include large-header-font;
    font-weight: $heavy-weight;
    color: $bright-dark-blue;
  }

  h3 {
    @include secondary-header-font;
    color: $peru-orange;
    font-weight: $normal-weight;
  }


  .text-content {

    p,
    li {
      @include paragraph-font;
    }
  }

  .card-container {
    @include bp(xl) {
      flex-direction: row;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;

    .card {
      @include bp(xl) {
        width: 30%;
      }

      width: 100%;
      padding-bottom: 3rem;
      border-radius: $form-border-radius;
      border-top: 4px solid $peru-orange;
      color: $chalkboard-black;

      p {
        padding: .3rem .1rem;
      }

      .card-title {
        @include secondary-header-font;
      }

      &:hover {
        box-shadow: $focus-box-shadow;
      }
    }


  }
}