//BUDGET DETAILS SHOW PAGE

.show-container {
  display: grid;
  grid-template-rows: 100px auto 1fr;
  grid-template-columns: 100%;
  grid-template-areas:
    "."
    "card"
    ".";
}

.card {
  grid-area: card;
}

//styling for delete form
.delete-icon {
  &:hover {
    cursor: pointer;
  }
}

.delete-button {
  display: none;
}