@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&family=Poppins:wght@700");
nav {
  background-color: #1263ba;
}

.nonuser-nav {
  margin-bottom: 0;
}

.nav-wrapper {
  width: 98%;
  margin: auto;
}

.nav-wrapper .brand-logo {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.02vw;
}

@media only screen and (min-width: 1300px) {
  .nav-wrapper .brand-logo {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 1000px) {
  .nav-wrapper .brand-logo {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 800px) {
  .nav-wrapper .brand-logo {
    font-size: 2rem;
  }
}

.nav-wrapper li {
  font-family: "PT Sans", sans-serif;
}

.nav-wrapper .desktop-nav-ul li {
  margin: 0 1vw;
}

.sidenav li {
  margin: 1vh auto;
  text-align: center;
}

.sidenav input {
  display: block;
  margin: 1vh auto;
}

.login-header {
  background-color: #1263ba;
  width: 100%;
  padding: 5vh 0 10vh 0;
}

.login-header h2 {
  font-size: 3rem;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.02vw;
  padding: 1vh 0 3vh 0;
  margin: 0 auto;
  color: white;
}

@media only screen and (min-width: 1000px) {
  .login-header h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 800px) {
  .login-header h2 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1300px) {
  .login-header h2 {
    visibility: hidden;
  }
}

.box-form {
  margin-top: -5vh;
  border-radius: 10px;
  padding: 30px 10px;
  -webkit-box-shadow: 2px 2px 4px #c4c5c4;
          box-shadow: 2px 2px 4px #c4c5c4;
  background-color: white;
  color: #2d3543;
}

@media only screen and (min-width: 1300px) {
  .box-form {
    margin-top: -15vh;
  }
}

.box-form:focus-within {
  -webkit-box-shadow: 0px 0.2em 2.5em #c4c4c4;
          box-shadow: 0px 0.2em 2.5em #c4c4c4;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.box-form h4 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.02vw;
  padding-bottom: 1.5vh;
  text-transform: uppercase;
  text-align: left;
  color: #265d7e;
}

@media only screen and (min-width: 1300px) {
  .box-form h4 {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 1000px) {
  .box-form h4 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 800px) {
  .box-form h4 {
    font-size: 2rem;
  }
}

.box-form .row {
  width: 95%;
  margin: auto;
}

.box-form .row input[type=text] {
  font-family: "PT Serif", serif;
}

.box-form .row .input-field input[type]:not([readonly]),
.box-form .row .input-field textarea:not([readonly]) {
  border-bottom: 1px solid #e3edf7;
  -webkit-box-shadow: 0 1px 0 0 #c4c5c4;
          box-shadow: 0 1px 0 0 #c4c5c4;
}

.box-form .row .input-field input[type]:focus:not([readonly]),
.box-form .row .input-field textarea:focus:not([readonly]) {
  border-bottom: 1px solid #1263ba;
  -webkit-box-shadow: 0 1px 0 0 #c4c5c4;
          box-shadow: 0 1px 0 0 #c4c5c4;
}

.box-form .row .input-field input[type]:focus:not([readonly]) + label,
.box-form .row .input-field textarea:focus:not([readonly]) + label {
  color: #265d7e;
}

.box-form .row .input-field input[type].valid:focus + label,
.box-form .row .input-field input[type].valid ~ .helper-text::after,
.box-form .row .input-field input[type].valid:focus ~ .helper-text::after,
.box-form .row .input-field textarea.valid:focus + label,
.box-form .row .input-field textarea.valid ~ .helper-text::after,
.box-form .row .input-field textarea.valid:focus ~ .helper-text::after {
  color: #1263ba;
}

.box-form .row .btn-small {
  background-color: #1263ba;
  display: block;
  margin: 0 auto 1vh auto;
}

.box-form .row p {
  font-family: "PT Serif", serif;
  font-size: 1rem;
  margin-top: 3vh;
}

@media only screen and (min-width: 1300px) {
  .box-form .row p {
    font-size: .1vw;
  }
}

@media only screen and (min-width: 1000px) {
  .box-form .row p {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 800px) {
  .box-form .row p {
    font-size: 1rem;
  }
}

.box-form .row p a {
  color: #2d3543;
  text-decoration: underline;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.box-form .row p a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #265d7e;
}

.show-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px auto 1fr;
      grid-template-rows: 100px auto 1fr;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-template-areas: "." "card" ".";
}

.card {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card;
}

footer {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

footer a {
  padding: 0 0 1vh 2vw;
  color: #2d3543;
  font-size: 0.7rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #265d7e;
}

html {
  height: 100%;
}

body {
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  background-color: whitesmoke;
}

table th {
  text-align: center;
}

.redColor {
  color: red;
}

.greenColor {
  color: green;
}
/*# sourceMappingURL=app.css.map */