@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&family=Poppins:wght@700');

//IMPORT VARIABLES AND MIXINS FIRST
@import 'color';
@import 'font';
@import 'layout';
@import 'mixin';



//IMPORT ALL PARTIAL FILES
@import 'navcss';
@import 'forms';
@import 'login';
@import 'footer';
@import 'showpage';
@import 'index';
@import 'budgetplanpages';

//ALL PAGES
html {
  height: 100%;
}

body {
  @include transition(all .2s linear);
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: $whitesmoke;
}


table {
  th {
    text-align: center;
  }
}




//BUDGET DETAILS INDEX PAGE
.redColor {
  color: red;
}

.greenColor {
  color: green;
}