@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&family=Poppins:wght@700');


//COLORS
$light-blue: hsl(210, 56, 93);
$bright-dark-blue: hsl(211, 82, 40);
$darker-blue: hsl(202, 54, 32);
$chalkboard-black: hsl(219, 20, 22);
$whitesmoke: hsl(0, 0, 96);

//FONT STACK
$Poppins: ('Poppins', sans-serif);
$PT-Sans: ('PT Sans', sans-serif);
$PT-Serif: ('PT Serif', serif);

//ALL PAGES
body {
  background-color: $whitesmoke;
}

table {
  th {
    text-align: center;
  }
}

//NAV.EJS
.nav-wrapper {
  width: 98%;
  margin: auto;

  .brand-logo {
    font-family: $Poppins;
  }

  li {
    font-family: $PT-Sans;
  }

  .desktop-nav-ul {
    li {
      margin: 0 1vw;
    }
  }
}

.sidenav {
  li {
    margin: 1vh auto;
    text-align: center;
  }

  input {
    display: block;
    margin: 1vh auto;
  }
}

//BUDGET DETAILS INDEX PAGE
.redColor {
  color: red;
}

.greenColor {
  color: green;
}


//BUDGET DETAILS SHOW PAGE

.show-container {
  display: grid;
  grid-template-rows: 100px auto 1fr;
  grid-template-columns: 100%;
  grid-template-areas:
    "."
    "card"
    ".";
}

.card {
  grid-area: card;
}