<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <div class="content">
    <%- include('../partials/nav.ejs') %>
    <div class="container">
      <%- include('../partials/showbycategory.ejs') %>
    </div>
  </div>
  <%- include('../partials/footer.ejs') %>
</body>

</html>