<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>

</head>

<body>
  <div class="content">
    <%- include('../partials/nav.ejs')%>
    <header class="index-header">
      <h2 class="center new-detail-header">Add to Your Income and Expenses for the Month
      </h2>
    </header>
    <div class="container">
      <div class="row">
        <form class="box-form col s12" action="/budgetdetails" method="post">
          <h4>Add Income / Expenses</h4>
          <div class="row">
            <div class="input-field col s6">
              <input type="text" name="date" class="datepicker" required />
              <label for="date">Date</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <select name="category" required>
                <option value="" disable selected>--Please choose an option--</option>
                <option value="income">Income</option>
                <option value="flex-expense">Flex Expense</option>
                <option value="firm-expense">Firm Expense</option>
              </select>
              <label for="category">Category </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="number" name="amount" id="amount" required />
              <label for="amount">Amount</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="description" id="description" required />
              <label for="description">Description</label>
            </div>
          </div>
          <div class="row">
            <input class="btn-small" type="submit" value="Add New Income/Expense">
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('../partials/footer.ejs')%>
</body>

</html>