<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>

</head>

<body>
  <div class="content">
    <%- include('../partials/nav.ejs')%>
    <header class="index-header">
      <h2 class="center">Let's Create Your Budget!
      </h2>
    </header>
    <div class="container">
      <h1>Your Budget for The Month: </h1>
      <div class="row">
        <form class="box-form add-focus-to-form col s12" action="/budgetplans" method="POST">
          <div class="row">
            <div class="input-field col s12">
              <input type="number" name="expectedincome" id="expectedincome">
              <label for="expectedincome"> What is your expected income? </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="number" name="expectedflexexpenses" id="expectedflexexpenses" />
              <label for="expectedflexexpenses">What is your total budget for Flex Expenses?</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input type="number" name="expectedfirmexpenses" id="expectedfirmexpenses" />
              <label for="expectedfirmexpenses">What is your total budget for Firm Expenses?</label>
            </div>
          </div>
          <div class="row">
            <input class="btn col s4" type="submit" value="Create Your Budget Plan">
          </div>
        </form>
      </div>
      <ul class="collection-with-header about-budget-plan-section">
        <li class="collection-header">
          <h4>About Your Budget Plan</h4>
        </li>
        <li class="collection-item flow-text">
          This budget plan is designed for simplicity, so there are only three
          categories that you need to plan: Income, Flex Expenses, and Firm Expenses!</li>
        <li class="collection-item flow-text"><span class="material-icons">
            monetization_on
          </span> Income - <br />
          Any source of money the you gain falls into this category, whether it be your paycheck or a
          passive income</li>
        <li class="collection-item flow-text"><span class="material-icons">
            add_shopping_cart
          </span>Flex Expenses - <br />
          These are any expenses which you change from month to month. This category
          includes grocery shopping, restaurants, clothing,
          movies, travel, gas, and anything else that you spend a varying amount of money on. We place this all in one
          category to give you a greater understanding
          of how much you're actually spending and to provide greater flexibility for everything life throws your way.
          Thisis the expense category that you'll want to keep
          a closer eye on during the month!
        </li>
        <li class="collection-item flow-text"><span class="material-icons">
            house
          </span>Firm Expenses - <br />
          These are any expenses that remain the same from month to month. This category
          includes your rent / mortgage, health insurance, car payments, or your interner bill.
          There's not much that will change these bills on a month to month basis, so we throw
          them into your firm expenses.
        </li>
      </ul>
    </div>
  </div>
  <%- include('../partials/footer.ejs')%>
</body>

</html>